<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Switch Case</title>
    <link th:href="@{/css/demo.css}" rel="stylesheet">
</head>
<body>
    <h1>Switch Case demo:</h1>
    <h3 th:text="${user.name}"></h3>
    <div th:switch = "${user.role}">
        <p th:case = "'ADMIN'">User is Admin User</p>
        <p th:case = "'USER'">User is normal User</p>
        <p th:case = "*">User is something else</p>
    </div>
</body>
</html>